// Main colors
$primary: #0094E7;
$secondary: #f3f3f3;
$white: #fff ;
$black: #000;

// font
// Fonts
@mixin roboto{
    font-family: 'Roboto', sans-serif;
}

// flex
@mixin flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.lp-infoBox{
    .lp-container{
        max-width: 1084px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        text-align: center;
    }

    &__boxes{
        @include flex();
        flex-wrap: nowrap;
        align-items: stretch;
        width: calc(100% + 20px);
        margin: 40px auto 0;
        margin-left: -10px;
    }

    &__box{
        box-shadow: 0 1px 4px rgba($color: $black, $alpha: .15);
        border-radius: 4px;
        width: calc(25% - 20px);
        margin: 0 10px 16px;
        padding: 16px 16px 24px;
        text-align: center;
        box-sizing: border-box;

        figure{
            margin: 0 auto;
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
        }

        &--icon{
            max-width: 100%;
            max-height: 100%;
        }

        &--name{
            display: block;
            font-weight: 500;
            color: $black;
            font-size: 16px;
            @include roboto();
        }

        &--text{
            color: #535252;
            display: block;
            margin-top: 10px;
            font-size: 14px;
            @include roboto();
        }
    }
}

// layout-0
.layout-0 #articlePage{
    .lp-container{
        max-width: 860px;
    }
}

@media only screen and (max-width: 980px){
    .mobile #articlePage,
    .mobileapp #articlePage{
        .lp-container{
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}

@media only screen and (max-width: 780px){
    .mobile #articlePage,
    .mobileapp #articlePage{
        .lp-infoBox__boxes{
            flex-wrap: wrap;
        }

        .lp-infoBox__box{
            width: calc(50% - 20px);
        }
    }
}

@media only screen and (max-width: 540px){
    .mobile #articlePage,
    .mobileapp #articlePage{
        .lp-infoBox__box{
            width: 100%;
            margin: 0 0 16px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}